<!--
  Copyright (C) 2013 Orbeon, Inc.

  This program is free software; you can redistribute it and/or modify it under the terms of the
  GNU Lesser General Public License as published by the Free Software Foundation; either version
  2.1 of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Lesser General Public License for more details.

  The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
  -->
<Configuration status="WARN">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ISO8601} %-5p %c{1} %x - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.orbeon.oxf.xforms.processor.XFormsServer" level="debug"/>

        <!-- Prevent extra display of eXist paging activity -->
        <Logger name="org.exist.storage.btree.Paged" level="warn"/>
        <Logger name="org.exist.storage.DBBroker" level="warn"/>
        <Logger name="org.exist.storage.BrokerPool" level="warn"/>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>

</Configuration>
